.container{
    background-color:aquamarine;
    padding: 110px;
}
.heading{
    color:darkmagenta;
    font-size: 30px;
    margin-top: 3%;
    
}
.paragraph{
    font-size: 20px;
    color: blue;
}
.icon{
    padding: 3px;
    font-size: 16px;
    font-weight: 800;
    color:brown;
}
